<input type="hidden" name="_method" value="PATCH" />
  <ul>
    <li>
      <label for="recipe-name">Name:</label>
      <input id="recipe-name" type="text" name="recipe[name]" value="<%= @recipe.name %>" />
    </li>
    <li>
      <label for="recipe-ingredients">Ingredients:</label>
      <input id="recipe-ingredients" type="text" name="recipe[ingredients]" value="<%= @recipe.ingredients %>" />
    </li>
    <li>
      <label for="recipe-cook_time">Cook Time:</label>
      <input id="recipe-cook_time" type="text" name="recipe[cook_time]" value="<%= @recipe.cook_time %>" />
    </li>
  </ul>
  <input type="submit" value="Submit" />
