I AM A LIST THANKS

<form action="/recipes">

  <input type="text" name="q" />
  <input type="submit" />

</form>

<a href="/recipes/new">Make a new recipe</a>

<ol>
  <% @recipes.each do |recipe| %>
    <li>
      <a href="/recipes/<%= recipe.id %>">
        <%= recipe.name %>
        <%= recipe.ingredients %>
        <%= recipe.cook_time %>
      </a>
    </li>
  <% end %>
</ol>
